body {
    background-color: #F5F2EB; 
    font-family: 'Segoe UI', sans-serif;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
}


header {
    text-align: center;
    padding: 20px 10px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #2B2B2B;
    letter-spacing: 0.1rem;
}

nav{
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin: 0;
    border-radius: 40px;
    background-color: #ffffff;
}

nav ul{
    list-style: none;
    display: flex;    
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

nav a
{
    text-decoration: none;
    padding: 20px;
}

.homeContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 1rem;
    overflow: hidden;
}

.homeContainer img {
    position: absolute;
    width: 100%;
}

.worldMap {
    z-index: 1;
}

.northAmericaHighlight {
    opacity: 0;
    z-index: 2;
}

.southAmericaHighlight {
    opacity: 0;
    z-index: 2;
}

.mapClickable  {
    position: absolute;
    z-index: 3;
}

.mapClickable.northAmerica {
    top: 15%;
    left: 10%;
    width: 20%;
    height: 30%;
}

.mapClickable.southAmerica {
    top: 50%;
    left: 25%;
    width: 15%;
    height: 25%;
}

.mapClickable.northAmerica:hover ~ .northAmericaHighlight {
    opacity: 1;
}

.mapClickable.southAmerica:hover ~ .southAmericaHighlight {
    opacity: 1;
}

.regionContainer{
    display:flex;
}

.regionContainer .mapContainer
{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6ab6ff;
}

.map-image {
  max-width: 90%;
  height: auto;
}

.map-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, background-color 0.2s;
}

.map-dot:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background-color: #a50000;
}

input[type="radio"] {
  display: none;
}

.infoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 20px;
}

.info {
  display: none;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.info iframe {
  aspect-ratio: 16 / 9;
  border: none;
}

#usa:checked ~ .infoContainer .usa {
  display: flex;
}

#mexico:checked ~ .infoContainer .mexico {
  display: flex;
}

.card-img
{
    height: 200px;
    object-fit: cover;
}

form {
    margin: 200px;
    padding: 40px;
    background: white;
    border-radius: 20px;
}

form label {
    display: flex;
    font-weight:bold;
    letter-spacing: .04rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
    box-sizing: border-box;
    resize: none;
}

form .buttons
{
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin-top: 10px;
}

form input[type="submit"]{
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

form input[type="reset"] {
    background-color: #777777;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 40px;
}
